<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %5level [%thread] %40.40class:%4line - %message%n</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>log/test.log</file>
		<encoder>
			<pattern>%date %5level [%thread] %40.40class:%4line - %message%n %ex%n</pattern>
		</encoder>
	</appender>

	<root level="error">
		<!-- <appender-ref ref="console" />   -->
		<appender-ref ref="file" />
	</root>

	<logger name="org.hibernate" level="warn" />
	<logger name="org.springframework" level="info" />
	<logger name="org.springframework.integration" level="info" />
	

</configuration>